---
import { Button } from '@/components/ui/button';
import MainLayout from '@/layouts/main.astro';
---

<MainLayout content={{ title: 'Page not found' }}>
  <div>
    <h1 class='text-7xl font-bold'>404</h1>
    <Button><a href='/'>Homepage</a></Button>
  </div>
</MainLayout>
