---
import Socials from "../Socials";

const year = new Date().getFullYear();
---

<footer class="mt-16 container mx-auto px-4">
	<div class="py-8 border-t flex flex-col sm:flex-row">
		<div class="flex justify-between w-full">
			<p class="text-xl font-semibold hidden sm:block">
				Kevin Agyeman
				<br />
				<span class="text-muted-foreground/80">kevinagyeman.com</span>
			</p>
			<div class="flex flex-col gap-2 w-full">
				<div class="flex gap-4 sm:justify-end justify-center">
					<Socials client:visible />
				</div>
				<small class="text-muted-foreground text-center sm:text-right">
					Kevin Agyeman | © {year} All rights reserved.
				</small>
			</div>
		</div>
	</div>
</footer>
