---
const year = new Date().getFullYear();
---

<footer
  class='container mx-auto h-16 flex justify-between items-center text-muted-foreground text-sm'
>
  <p>Kevin Agyeman</p>
  <p>© {year} All rights</p>
</footer>
